/* TEKS */

.maroon {
    color: #820004;
  }
  .navy {
    color: #05004c;
  }
  .indigo {
    color: #5d76cb;
  }
  .spacing {
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 20px;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .lowercase {
    text-transform: lowercase;
  }
  .capitalize {
    text-transform: capitalize;
  }
  .paragraf {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
  }
  ul {
    list-style-type: circle;
  }
  li {
    font-family: "Tahoma";
    font-size: 15px;
  }
  
  /* BORDER */
  
  .btn-red {
    padding: 10px;
    background: #fc0202;
    color: fff;
  }
  .btn-blue {
    padding: 10px;
    background: #02496d;
    color: #fff;
  }
  .btn-green {
    padding: 10px;
    background: #338401;
    color: #fff;
  }
  .solid {
    border-style: solid;
    border-width: 4px;
    border-color: #000;
  }
  .dotted {
    border-style: dotted;
    border-width: 4px;
    border-color: #000;
  }
  .double {
    border-style: double;
    border-width: 4px;
    border-color: #000;
  }
  .ridge {
    border-style: ridge;
    border-width: 4px;
  }
  .inset {
    border-style: inset;
    border-width: 4px;
  }
  .outset {
    border-style: outset;
    border-width: 4px;
  }
  .round {
    border-radius: 20px;
  }