body {
    background-color: #274b9e;
  }
  div.container {
    margin: auto;
    width: 90%;
  }
  header {
    width: 100%;
    height: 100px;
    background-color: #820215;
  }
  div.nama {
    color: #fff;
    position: relative;
    top: 30px;
  }
  nav {
    width: 15%;
    height: 900px;
    background-color: #e2e0e0;
    float: left;
  }
  div.kelasdanabsen {
    position: relative;
    top: 450px;
    color: #fff;
  }
  div.content {
    width: 85%;
    height: 900px;
    background-color: #fff;
    float: right;
  }
  img {
    position: relative;
    width: 200px;
    left: 473px;
  }
  .paragraf {
    position: relative;
    top: 20px;
    left: 4px;
  }
  footer {
    width: 100%;
    height: 50px;
    background-color: #016060;
    float: left;
  }
  div.artikel {
    color: #fff;
  }
  ul.vertical {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #e2e0e0;
  }
  ul.vertical li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    text-align: left;
  }
  ul.vertical li a:hover {
    background-color: #777777;
    color: white;
  }